.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
ul,
li {
  list-style: none;
  margin-top: 25px;
}
.todo {
  display: flex;
  background-color: rgb(154, 175, 168);
  margin: auto;
  padding: 10px;
  padding-left: 50px;
  margin-bottom: 10px;
  width: 800px;
  border-radius: 40px;
  opacity: 0.9;
}
.check_btn {
  height: 30px;
  width: 20px;
  margin-top: 5px;
  margin-right: 15px;
}
.todo > span {
  font-size: 30px;
  margin-right: 30px;
}
.btns_div {
  margin-left: auto;
}
.btns {
  border: none;
  background-color: rgb(154, 175, 168);
  margin-left: 30px;
}
.btns:hover {
  cursor: pointer;
}
.btns.edit {
  color: rgb(100, 73, 73);
}
.btns.del {
  color: red;
  margin-right: 100px;
}
